*{
    -webkit-user-select:none;  
    -moz-user-select:none;     
    -ms-user-select:none;      
    user-select:none;
}
body{
    background-color: #1a1a1a;
    color: #e0e0e0;
}
header{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-size: 3vw;
}
main{
    width: 100%;
    flex-direction: column;
}
button{
    background-color: transparent;
    color: #e0e0e0;
    border: 0px;
    width: 12vw;
    height: 10vh;
    font-size: 2vw;
}
button:hover{
    border: 0.1vw solid white;
}
.disabled{
    display: none;
}
pre{
    margin-left: 5%;
    font-size: 1vw;
}
#statusBase,.inputName{
    font-size: 2vw
}
.inline {
    display: inline-block;
}
.incorrect{
    color: red !important;
}
.incorrectInput{
    background-color: red !important;
}
#playerInformation {
    position: absolute; 
    bottom: 20vh; 
    right: 30vw; 
    display: flex;
    justify-content: flex-end;
}
#mobInformation{
    position: absolute; 
    top: 2vh; 
    left: 30vw; 
    display: flex;
    justify-content: flex-end;
}
#hudButtons{
    display: flex;
    position: absolute;
    top: 45%;
    left: 45%;
}